<a href="https://colab.research.google.com/github/Shreedhar5/ASSIGNMENTWEEK-3/blob/main/AssignmentWEEK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a function that returns True if a given inequality expression is correct and False otherwise.

In [ ]:
def check(s):
    abc=eval(s)
    if abc:
        return True
    else:
      return False


print(check("4 < 9< 30"))

True

Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.

In [ ]:
def sumDivisibles(A, B, C):
    sum = 0

    for i in range(A, B + 1):
 
        if (i % C == 0):
            sum += i
 
    return sum

     
A = int(input("Enter value of A ="))
B = int(input("Enter value of B ="))
C = int(input("Enter value of C ="))
 
print(sumDivisibles(A, B, C))

Enter value of A =12
Enter value of B =34
Enter value of C =54
0

Create a function that replaces all the vowels in a string with a specified character.

In [ ]:
def replaceVowels(str, K):
    vowels = 'AEIOUaeiou'
    for i in vowels:
      str = str.replace(i, K)
    return str

input = "My favorite food is butter chicken"
K = "*"
print("Given String:", input)
print("Given Specified Character:", K)
print("After replacing vowels with the specified character:", replaceVowels(input, K))

Given String: My favorite food is butter chicken
Given Specified Character: *
After replacing vowels with the specified character: My f*v*r*t* f**d *s b*tt*r ch*ck*n

Write a function that calculates the factorial of a number recursively.

In [ ]:
def factorial(n): 
    if (n==1 or n==0): 
        return 1
    else:     
        return (n * factorial(n - 1)) 
  
num = 4
print("number : ",num)
print("Factorial : ",factorial(num))

number :  4
Factorial :  24

Create a function that computes the hamming distance between two strings.

In [ ]:
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count
 
str1 = "winner"
str2 = "wrangler"

print(hammingDist(str1, str2))

4

Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

In [ ]:
def filter_list(l):  
    output = []
    for i in l:  
        if type(i) != str:  
            output.append(i)  
    return output

print(filter_list([4,133,'h','s',56,3,'b']))

[4, 133, 56, 3]

The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

In [ ]:
def reverse(str):
    str = str[::-1]
    return str.swapcase()

reverse('world of truth')

'HTURT FO DLROW'

with middle being everything in between the first and last element.

In [ ]:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

Write a function that moves all elements of one type to the end of the list.

In [ ]:
def move_end(array, toMove):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == toMove):
            s-=1
  
        if (array[i] == toMove):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['d', 'd', 'd', 'b']
k = 'd'
ans = move_end(arr, k)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

b d d d

Create a function that takes a string and returns a string in which each character is repeated once

In [ ]:
def double(str):
    return ''.join([c+c for c in str])

print(double('welcome'))

wweellccoommee

Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

In [ ]:
def reverse(arg=None):
    return not arg if type(arg) == bool else "boolean expected"

print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

False
True
boolean expected
boolean expected

#Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.

In [ ]:
def layers(n):
    thickness = 0.5
    for _ in range(n):
        thickness *= 2
    return str(thickness / 1000)+'m' # for meters

print(layers(1))
print(layers(4))

0.001m
0.008m

Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string
def index_of_cap(word):

In [ ]:
def index_of_cap(word):
    indices = []
    for i in range(len(word)):
        if word[i].isupper():
             indices.append(i)
    return indices

print(index_of_cap('olopc'))
print(index_of_cap('GGgfdtJ'))
print(index_of_cap('tthyJHYTKYU'))

[]
[0, 1, 6]
[4, 5, 6, 7, 8, 9, 10]

Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

In [3]:
 def find_even_no(n):
    even =[x for x in range(2,n+1) if x % 2 == 0]
    return even

n = int(input('Enter a number : '))
find_even_no(n)

Enter a number : 44

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44]

Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only

In [ ]:
def filter_list(lst):
    intlst = []
    for i in lst:
        if type(i) == int:
            intlst.append(i)
    return intlst 

filter_list([14, 32,13, 'c', 'r', 23])

[14, 32, 13, 23]

Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself.

In [ ]:
def add_index(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

add_index([12, 22, 23, 24, 35])

[12, 23, 25, 27, 39]

Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth

In [1]:
import math
pi = math.pi
def cone_volume(r, h):
    return round((1 / 3) * pi * r * r * h)

radius = float(input("Enter value of radius= "))
height = float(input("Enter value of height= "))

print( "Volume Of Cone : ", cone_volume(radius, height) )

Enter value of radius= 6
Enter value of height= 12
Volume Of Cone :  452

Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [2]:
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the trinalge number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

triangle(1)

Enter the trinalge number :45
The 45th triangle has 1035 dots

1.0

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [ ]:
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_of_list = sum(lst)
    return total - sum_of_list

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5